<div class="recommendations-container">
  <h2 class="section-title">🎬 Résultats de la recommandation</h2>

  <% if movies.present? %>
  <div class="movies-grid">
    <% movies.each do |movie| %>
      <%= render "movie_card_list", movie: movie %>
    <% end %>
  </div>
<% else %>
  <p>Aucun film trouvé.</p>
<% end %>

</div>
