<div class="recommendation-page">
  <h1>Recommandations IA</h1>

  <%= form_with url: recommendations_path,
                method: :post,
                data: { turbo_stream: true } do |f| %>
    <%= f.text_field :query, placeholder: "Tu es un expert ciné:" %>
    <%= f.submit "Trouver 5 films similaires" %>
  <% end %>

  <div id="recommendations">
    <%= render "recommendations/results", movies: @movies if @movies.present? %>
  </div>
</div>
