<div class="recommendation-page" data-controller="recommendations">
  <h1>🎬 Prêt pour une séance sur mesure ? Ton complice cinéma attend le clap 🎞️</h1>
  <p class="subtagline">🍿 Arrête de chercher. Appuie sur play ▶️</p>

  <%= form_with url: recommendations_path,
                method: :post,
                data: { turbo: false } do |f| %>

    <%= f.text_field :query, placeholder: "Un film suffit 🎥" %>

    <%= f.button type: "submit",
          class: "btn-reco",
          data: { disable_with: "<span class='spinner'></span> Recherche…".html_safe } do %>
      🔍 Trouver 5 films similaires
    <% end %>

  <% end %>

  <div id="results">
    <%= render "recommendations/results", movies: @movies if @movies.present? %>
  </div>
</div>
