<div class="recommendation-page" data-controller="recommendations">
  <h1>Recommandations IA</h1>

  <%= form_with url: recommendations_path,
                method: :post,
                data: { turbo: false } do |f| %>
    <%= f.text_field :query, placeholder: "Tu es un expert ciné:" %>
    <%= f.submit "Trouver 5 films similaires",
                 data: { action: "click->recommendations#submit" } %>
  <% end %>

  <div id="results">
    <%= render "recommendations/results", movies: @movies if @movies.present? %>
  </div>
</div>
