@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";

@import "components/index";
@import "pages/index";
@import "components/movie_card";
@import "pages/historics_index";
@import "pages/popcorn";
@import "pages/users";
@import "pages/movies_show";
@import "movies/surprise";
@import "movies/recommended";
@import "components/recommendations";

@import "components/badge";
@import "pages/profil";
@import "pages/home";
@import "pages/swipe";
@import "pages/calendar";
@import "pages/search";
@import "components/header";
@import "pages/error";
@import "pages/community";
@import "pages/welcome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  max-width: 480px;
  margin: 0 auto;
}
