<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé un lien de réinitialisation de mot de passe. You pouvez le faire via le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne sera pas modifié avant d'avoir effectué la procédure de changement de mot de passe.</p>
